#trasweb_metadata_metabox {
    display: block;
    overflow-x: scroll;
}

#trasweb-metadata-metabox .trasweb-metadata-metabox__inner {
    background-color: #fff;
    max-height: 800px;
    overflow-y: auto;
    padding: 0;
    display: block;
    width: 100%;
}

#trasweb_metadata_metabox__container.postbox.closed {
    margin-bottom: 0;
}

#trasweb-metadata-metabox button {
    cursor: move;
    pointer-events: none;
    float: right;
}

#trasweb-metadata-metabox table {
    border-collapse: collapse;
    display: block;
    width: 100%;
}

#trasweb-metadata-metabox .meta_empty_array table {
    border: 1px solid #7e8993;
    box-sizing: border-box;
    margin: 13px 6px;
}

#trasweb-metadata-metabox td.meta_value table {
    box-sizing: border-box;
    padding: 13px 6px;
}

#trasweb-metadata-metabox td, #trasweb-metadata-metabox th {
    border: 1px solid #7e8993;
    font-size: 1em;
    vertical-align: baseline;
    padding: 4px 5px;
}

#trasweb-metadata-metabox .meta_item:not(.depth_1):hover > td.meta_key, #trasweb-metadata-metabox .meta_item.meta_scalar:not(.depth_1):hover > td.meta_value {
    background: #dbdbdb;
    background-clip: padding-box; /* fix bug with borders in position relative */
}

#trasweb-metadata-metabox .depth_1 > td.meta_key {
    font-weight: bold;
    font-size: 1.2em;
}

#trasweb-metadata-metabox td.meta_key {
    background-color: #f1f1f1;
    font-weight: 600;
    color: #000;
    letter-spacing: 1px;
}

#trasweb-metadata-metabox .meta_item > td.meta_key:hover{
    position: relative;
    background-clip: padding-box; /* fix bug with borders in position relative */
}

/** label for copy */
#trasweb-metadata-metabox .meta_item > td.meta_key:hover:after {
    width: 100px;
    height: 15px;
    display: inline-block;
    position: absolute;
    content: "Click to copy key";
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: 5px;
    z-index: 1;
    top: -30px;
    left: 0;
    text-align: center;
    font-size: 10px;
}

#trasweb-metadata-metabox td.meta_value {
    background-color: #fff;
    word-wrap: break-word;
    width: 100%;
    color: #333;
}

#trasweb-metadata-metabox .meta_item > td.meta_value:hover{
    position: relative;
    background-clip: padding-box; /* fix bug with borders in position relative */
}

/** Zebra style */
#trasweb-metadata-metabox tr:nth-child(odd) > td.meta_value {
    background-color: #f9f9f9;
}

/** label for copy */
#trasweb-metadata-metabox .meta_scalar > td.meta_value:hover:after {
    width: 100px;
    height: 15px;
    display: inline-block;
    position: absolute;
    content: "Click to copy value";
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: 5px;
    z-index: 1;
    top: -34px;
    left: 45%;
    text-align: center;
    font-size: 10px;
}

